docs/CreatePolicyServiceInt.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ax227="http://intf.insurance.symbiosys.c2lbiz.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://relinterface.insurance.symbiosys.c2lbiz.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://relinterface.insurance.symbiosys.c2lbiz.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax228="http://intf.insurance.symbiosys.c2lbiz.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://relinterface.insurance.symbiosys.c2lbiz.com">
            <xs:import namespace="http://intf.insurance.symbiosys.c2lbiz.com/xsd"/>
            <xs:element name="createPolicy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="intIO" nillable="true" type="ax227:IntPolicyDataIO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://intf.insurance.symbiosys.c2lbiz.com/xsd">
            <xs:complexType name="IntIO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorLists" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="listErrorListList" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntPolicyDataIO">
                <xs:complexContent>
                    <xs:extension base="ax227:IntIO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="policy" nillable="true" type="ax227:IntPolicyDO"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="IntPolicyDO">
                <xs:sequence>
					<xs:element minOccurs="0" name="businessTypeCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="baseProductId" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="baseAgentId" nillable="true" type="xs:string"/>					
					<xs:element minOccurs="0" name="coverType" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="addOns" nillable="true" type="xs:string"/>	
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inwardDOList" nillable="true" type="ax227:IntInwardDO"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="partyDOList" nillable="true" type="ax227:IntPartyDO"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyAdditionalFieldsDOList" nillable="true" type="ax227:IntPolicyAdditionalFieldsDO"/>
                    <xs:element minOccurs="0" name="policyNum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="proposalNum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="quotationReferenceNum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sumInsured" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="term" nillable="true" type="xs:short"/>
                    <xs:element minOccurs="0" name="uwDecisionCd" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="isPremiumCalculation" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntInwardDO">
                <xs:sequence>                    
                    <xs:element minOccurs="0" name="inwardAmount" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="inwardNum" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntPartyDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="birthDt" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="genderCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="partyAddressDOList" nillable="true" type="ax227:IntPartyAddressDO"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="partyContactDOList" nillable="true" type="ax227:IntPartyContactDO"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="partyEmailDOList" nillable="true" type="ax227:IntPartyEmailDO"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="partyIdentityDOList" nillable="true" type="ax227:IntPartyIdentityDO"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="partyQuestionDOList" nillable="true" type="ax227:IntPartyQuestionDO"/>
                    <xs:element minOccurs="0" name="relationCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="roleCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="titleCd" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntPartyAddressDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="addressLine1Lang1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="addressLine2Lang1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="addressTypeCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="areaCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cityCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pinCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stateCd" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntPartyContactDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="contactNum" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="contactTypeCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="stdCode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntPartyEmailDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="emailTypeCd" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntPartyIdentityDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="identityNum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="identityTypeCd" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntPartyQuestionDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="questionCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="questionSetCd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="response" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IntPolicyAdditionalFieldsDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fieldAgree" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldAlerts" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldTc" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createPolicyRequest">
        <wsdl:part element="ns:createPolicy" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createPolicyResponse">
        <wsdl:part element="ns:createPolicyResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="CreatePolicyServiceIntPortType">
        <wsdl:operation name="createPolicy">
            <wsdl:input message="ns:createPolicyRequest" wsaw:Action="urn:createPolicy"/>
            <wsdl:output message="ns:createPolicyResponse" wsaw:Action="urn:createPolicyResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreatePolicyServiceIntSoap11Binding" type="ns:CreatePolicyServiceIntPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createPolicy">
            <soap:operation soapAction="urn:createPolicy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreatePolicyServiceIntSoap12Binding" type="ns:CreatePolicyServiceIntPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createPolicy">
            <soap12:operation soapAction="urn:createPolicy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CreatePolicyServiceIntHttpBinding" type="ns:CreatePolicyServiceIntPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="createPolicy">
            <http:operation location="CreatePolicyServiceInt/createPolicy"/>
            <wsdl:input>
                <mime:content part="createPolicy" type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="createPolicy" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreatePolicyServiceInt">
        <wsdl:port binding="ns:CreatePolicyServiceIntSoap11Binding" name="CreatePolicyServiceIntHttpSoap11Endpoint">
            <soap:address location="https://rhicluat.religare.com/relinterface/services/CreatePolicyServiceInt.CreatePolicyServiceIntHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:CreatePolicyServiceIntSoap12Binding" name="CreatePolicyServiceIntHttpSoap12Endpoint">
            <soap12:address location="https://rhicluat.religare.com/relinterface/services/CreatePolicyServiceInt.CreatePolicyServiceIntHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port binding="ns:CreatePolicyServiceIntHttpBinding" name="CreatePolicyServiceIntHttpEndpoint">
            <http:address location="https://rhicluat.religare.com/relinterface/services/CreatePolicyServiceInt.CreatePolicyServiceIntHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
